body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 48px;
}

.header {
    position: relative;
    text-align: center;
    background: rgb(30, 132, 190);
    color: white;
}

.inner-header {
    height: 70rem;
    width: 100%;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    min-height: 100px;
    max-height: 150px;
}

.content {
    position: relative;
    height: 20vh;
    text-align: center;
    background-color: white;
}

.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

main {
    background-color: #734ae8;
    background-image: linear-gradient(#89d4cf 0%, #6dd3ff 74%, rgb(55, 152, 255));
    width: 100%;
    height: 100rem;
}

.moon {
    position: relative;
    width: 100%;
    height: 125rem;
}

.card--fade {
    grid-row: 1/30;
    grid-column: 1/22;
    background: linear-gradient(rgba(255, 0, 0, 0) 50%, rgb(255, 255, 255));
    z-index: 6;
}

.background-moon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.space {
    width: 100%;
    height: 115rem;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgb(43, 43, 43));
    background-position: top;
    transition: 0.5s ease;
}

.background-space {
    width: 100%;
    height: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-mask-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 1));
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.space-transition {
    width: 100%;
    height: 75rem;
    background: linear-gradient(#FFFFFF, rgba(0, 0, 0, 0.9));
    background-position: top;
    transition: 0.5s ease;
}

.earth-background {
    width: 100%;
    height: 100rem;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-mask-image: linear-gradient(to top,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 1));
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.earth-transition {
    width: 100%;
    height: 75rem;
    background-position: top;
    background: linear-gradient(rgb(2, 15, 60), rgb(0, 1, 2));
    transition: 0.5s ease;
}

.cloud {
    width: 100%;
    height: 100rem;
    background-color: rgb(45, 168, 227);
}

.cloud-background {
    width: 100%;
    height: 100rem;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-mask-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 1));
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.cloud-transition {
    width: 100%;
    height: 100rem;
    background: linear-gradient(rgb(0, 136, 182), rgb(45, 168, 227));
    -webkit-mask-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 1));
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.ocean-transition {
    width: 100%;
    height: 75rem;
    background: linear-gradient(rgb(237, 251, 254), rgb(30, 132, 190));
}

.ocean-mid {
    width: 100%;
    height: 75rem;
    background: linear-gradient(rgb(55, 152, 255), rgb(2, 124, 254));
}

.ocean-bottom {
    width: 100%;
    height: 75rem;
    background-color: rgb(2, 124, 254);
}

.ocean-background {
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

@media screen and (min-height: 75rem) {
    body {
        scroll-snap-type: y mandatory;
    }

    .space {
        scroll-snap-align: start;
        background-position: center;
        height: 150rem;
    }
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}

/*Shrinking for mobile*/
@media (max-width: 76.8rem) {
    .waves {
        height: 40px;
        min-height: 40px;
    }

    .content {
        height: 30vh;
    }

    h1 {
        font-size: 24px;
    }
}