* {
    padding: 0;
    margin: 0;
}

.grid {
    height: 125rem;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(20, 2fr);
    grid-template-rows: repeat(28, 2fr);
    gap: 1rem;
}

.card {
    list-style: none;
    background: white;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem 0 #a492b2;
    z-index: 5;
}

.card1 {
    grid-row: 2/10;
    grid-column: 6/16;
    background-color: whitesmoke;
    opacity: 0.9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card2 {
    grid-row: 10/11;
    grid-column: 6/16;
    background-color: whitesmoke;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}

h1 {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 8rem;
}